body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.outer-container{
    width: 1300px;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.navbar-inverse{
    background-color: #02346C;
    color: white;
    border-bottom: 10px solid #D70A0B;
    height: 70px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
.navbar-inverse .navbar-brand{
    color: white;
    font-size: 25px;
}
.logo{
    width: 200px;
    margin-bottom: 20px;
}
a.navbar-brand{
    vertical-align: top;
    margin: 0%;
}
.thead{
    position: sticky;
}
select{
    width: 150px;
}
.select-btn{
    margin: 5px;
    width: 80px;
    font-size: 16px;
    padding: 0px;
    background: #D70A0B;
}
.select-wrapper{
    display: inline-block;
    margin:10px 15px 15px 0px;
}
.select-wrapper label{
    display: block;
}
.table-scroll{
    width: 800px;
    height: 255px;
    overflow: auto;
    display: inline-block;
}
.roster-scroll{
    width: 800px;
    height: 200px;
    overflow: auto;
    display: inline-block;
    border: 1px solid silver;
}
.table-inner{
    width: 780px;
}
.selectPlayer{
    text-align: center;
}
#tData{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
}
.chat-wrapper{
    display: inline-block;
    width: 210px;
    margin-left: 10px; 
}
#sendButton{
    background: #D70A0B;
    color: white;
    margin: 5px 5px; 
}
.message-box{
    border: 1px solid silver;
    height: 185px;
    margin: 5px;
    overflow: auto;
}
.chat-input{
    margin: 5px;
    width: 230px;
}
.timer-wrapper{
    display: inline-block;
    width: 230px;
    background: #02346C;
    padding: 5px;
    color: white;
}
.right-container{
    display: inline-block;
    width: 250px;
    margin-left: 30px;
}
#messagesList{
    list-style-type: none;
    padding-left: 0px;
}
.round-font{
    font-size: 18px;

}
.picks-box{
    border: 1px solid silver;
    height: 180px;
    width: 230px;
    margin:0px;
    overflow: auto;
}
#RecentPickList{
    list-style-type: none;
    padding-left: 0px;
}
.recent-picks-container{
    list-style-type: none;
    padding-left: 0px;
    margin: 5px 0px;
}
.left-container{
    display: inline-block;
    vertical-align: top;
}
.roster-header{
    margin: 0px;
}
.roster-box{
    height: 180px;
    overflow: hidden;
    padding-top: 0px;
}
.chat-header{
    margin: 20px 0px 0px 5px;
}
.sortHead{
    cursor:pointer;
}
.welcome{
    margin: 5px 0px;
}
.far-right-container{
    display: inline-block;
    width: 200px;
    vertical-align: top;
}
#teamList{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    margin: 5px 0px 0px 5px;
}


/* CSS for Roster Box Partial*/

#rostContainer {
    display: flex;
    flex: 1;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-image: linear-gradient(to bottom right, #04356d, #03254c);
}
#rostContainer .rostCcol{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

#rostContainer .rostRow{
    display: flex;
    justify-content: flex-start;
}

#rostContainer span{
    color: #c2090a;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 900;
    display: inline-block;
}
#rostContainer p{
    color: white;
    /* vertical-align: baseline; */
    font-size: 22px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 200;
    margin-left: 20px;
    display: inline-block;
}
#rostContainer .smallText{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 16px;
}